{{define "base"}}
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
   <title>GO Bird</title>


  <!-- include libraries(jQuery, bootstrap) -->
<link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>

<!--[if IE 6]><link href="default_ie6.css" rel="stylesheet" type="text/css" /><![endif]-->
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

 <!-- include libraries(jQuery, bootstrap) -->
 <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">
 <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
 <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>

<!-- include summernote css/js -->
<link href="{{ .Static }}css/default.css" rel="stylesheet" type="text/css" media="all" />
<link href="{{ .Static }}css/fonts.css" rel="stylesheet" type="text/css" media="all" />

<link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.css" rel="stylesheet">
<script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.js"></script>

</head>
<body>
    <div id="head-wrapper">
    	<div id="headermo" class="containermo">
    		<div id="logo">
    			<h1><a href="#">{{block "Title" .}} {{end}}</a></h1>
                <br>
                <h1><a href="#">Hello, {{.Username}}</a></h1>
    			<div id="menu">
    				<ul>
    					<li class="current_page_item"><a href="/" accesskey="1" title="">Homepage</a></li>
    					<li><a href="/write" accesskey="2" title="">Write</a></li>
    					<li><a href="/login" accesskey="4" title="">Login</a></li>
                        <li><a href="/logout" accesskey="4" title="">Logout</a></li>
    					<li><a href="/register" accesskey="5" title="">Register</a></li>
    				</ul>
    			</div>
    		</div>
    	</div>
    </div>
    <div id="page-wrapper">
    	<div id="page" class="container">

    		<p>This is a basic idea sharing platform. </p>
    	</div>
    </div>


<div class="wrapper">

{{template "content" .}}


</div>

</body>
</html>

{{end}}
