{{define "Title"}} index {{end}}
{{define "content"}}

<div id="portfolio" class="container">
<div id="projects">
        <p><strong>Blogs</strong></p>
		{{ range .Blogs }}
		<div class="blogcontanier">
			<div class="blogbox">
				<h3>Title: {{.BlogTitle}} Author: {{.BlogAuthor}}</h3>
                <textarea contenteditable="false" class="summernote" name="summernote"> {{.BlogContent}}</textarea>

			</div>
                <p><input id={{.BlogID}} type="button" value="like" class="btn"/>{{.BlogHeat}}</p>
		</div>
		{{end}}
	</div>

</div>


<script type="text/javascript">
    $(".summernote").summernote(
    {
        toolbar:false,
    });
    $('div[contenteditable="true"]').attr('contenteditable', false);;

$(".btn").click(function(){
    var dataid=$(this).attr("id");
    console.log(dataid);
    var like=$(this).attr("value");

    var islike=0;
    if(like=="like"){
        islike=1;
        $(this).attr("value","dislike");
    }else {
        islike=-1;
        $(this).attr("value","like");
    }
    var data = {
        id: dataid,
        like: islike
    };
    $.ajax({
            type: "POST",
            url: "/likehandler",
            traditional :true,
            // contentType: "application/json",
            // data: JSON.stringify(data),
            data: data,
            success: function(msg) {
                //var msgObject = JSON.parse(msg);
                //if(msgObject.Status === true) {
                    // window.location.href = msgObject.Url;
                }

        });

});

</script>
{{end}}
